// Here you can add other styles
@import "bootstrap/dist/css/bootstrap.min.css";

.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: darkgrey;
}

.ss {
  width: 100px;
  background-color: rgb(240, 238, 238);
}
.ashHover {
  background-color: white;
}
.ashHover:hover {
  background-color: rgba(121, 113, 113, 0.541);
}
.mleft {
  margin-left: -1.7rem;
  padding-right: 0.5rem;
}
.information {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 11px;
}
.ais-Pagination-list {
  display: flex;
  justify-content: center;
}
.ais-Pagination-item {
  margin: 5px;
}
li {
  list-style-type: none;
}
.circle {
  list-style-type: disc;
}
.littleFont {
  font-size: 0.8rem;
}

/* career */
.invert {
  transform: rotateY(180deg);
}
.switch-back:hover {
  color: salmon;
}

/* header  */
.side-nav-btn {
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  box-shadow: 0 5px #999;
}

.side-nav-btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media (max-width: 550px) {
  .align {
    margin: 1rem 4rem;
  }
}

/* footer styles */
.footer {
  background-color: rgba(11, 7, 37, 0.9);
  min-height: 310px;
  color: floralwhite;
  position: relative;
  padding-top: 20px;
}

@media (max-width: 700px) {
  .social {
    margin-bottom: 50px;
  }

  .words {
    font-size: 0.7rem;
  }

  .ashText {
    color: darkgrey;
  }
}
