.job-bg {
  /* background: linear-gradient(90deg, hsla(18, 76%, 85%, 1) 0%, hsla(203, 69%, 84%, 1) 100%); */
  /* background-image: url('../images/job/pngtree-recruitment-background-banner-image_159061.jpg'); */
  /* background: linear-gradient(90deg, hsla(277, 79%, 84%, 1) 0%, hsla(204, 95%, 77%, 1) 100%);background-size: cover; */
  background-image: linear-gradient(
    to right top,
    #6bd1d1,
    #8ad9e7,
    #ade0f5,
    #cde7fc,
    #e8f0fe,
    #e2e9ff,
    #e0e1ff,
    #e1d8ff,
    #ccbbff,
    #b79dff,
    #a37ffe,
    #8e5ffb
  );
  background-position: center center;
  padding-bottom: 2rem;
  background-attachment: fixed;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.7); */
  /* background-blend-mode: darken,luminosity; */
}
.header-job {
  background-color: rgb(231, 250, 245);
  /* max-width: 700px; */
}
.header-job-col {
  background-color: rgb(20, 37, 29);
}
